<!DOCTYPE html>
<html>
<head>
  <title>Sfransisco2</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= session[:last_created] %>
<%= yield %>

</body>
</html>
